.contact {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  padding: 2rem;
  text-align: center;
  background-color: #fff;
}


.contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.nav-icon {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 1rem; 
  padding: 1rem 0rem;
}


.icon-item {
  color: #333;
  transition: color 0.3s ease;
}

.icon-item:hover {
  color: #0073e6;
}
