@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


.loading-container {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; 
  z-index: 9999; 
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top-color: #000000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-wrapper {
  font-family: 'SUSE', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.loading-logo{
  height:10vh;
  width:12vw;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
 
  body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
}

@media (max-width: 768px) {
  .loading-logo {
    height: 14vh;
    width: 30vw;
  }
}