.contact {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically */
  padding: 2rem;
  text-align: center;
  background-color: #fff;
}


.contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.nav-icon {
  display: flex;
  justify-content: center; /* Centers the icons horizontally */
  align-items: center; /* Centers the icons vertically */
  gap: 1rem; /* Adds space between icons */
  padding: 1rem 0;
}


.icon-item {
  color: #333;
  transition: color 0.3s ease;
}

.icon-item:hover {
  color: #0073e6;
}
